/* Using elementary specific GTK CSS variables. Using only values that are
 regarded as public API in the elementary stylesheets as specified in
 https://github.com/elementary/stylesheet/blob/master/src/gtk-3.0/_exported.scss

 The advantage of this is that dark/light mode are automatically handled and
 the colors will mirror upstream changes to the elementary stylesheet. The
 disadvantage could be that using external themes can break the style
*/
.trough {
	background-color: @color_primary;
	box-shadow: inset 0 0 0 0.5px @wm_shadow;
	border: 1px solid @menu_separator;
	border-radius: 2px;
}

.selection {
    border-radius: 2px;
    /* using color based on elementary accent color for better integration */
    background-color: alpha(@selected_bg_color, 1.5);
    /* border: 1px solid @selected_bg_color; */
    opacity: 1;
}

.scale {
    border-radius: 2px;
    background-color: @fg_color;
}

