.test {
    background-color: @wm_shadow;
    border: 1px solid @unfocused_borders;
    border-radius: 3px;
}

.selection {
    border-radius: 3px;
    background-color: @success_color;
    opacity: 0.8;
}

.progress {
    border-radius: 3px;
    background-color: @fg_color;
    /* opacity: 0.4; */
}

